/**
 * @file
 * Subtheme specific CSS.
 */
.paragraph--type--sidetext-component .field--name-field-content-subtitle {
    color:#2DB298;
	font-weight:bold;
}
.paragraph--type--sidetext-component .field--name-field-link .field__item  {
	margin-bottom: 10px;
}
.paragraph--type--sidetext-component .field--name-field-link .field__item a {
	border-bottom: 1px solid #2DB298;
	color: black;
    font-weight: bold;
}
.paragraph--type--sidetext-component .field--name-field-link .field__item a:hover {
	border-bottom: none;
}

.fa-arrow-right::before {
    color: #2DB298;
    padding-left: 10px;
}
p {
    margin-bottom: 0.5rem;
}
.video-embed-field-lazy-play {
    left: 40px;
    top: 85%;
    border: none;
    border-radius: 0 10px 0 0;
    background: none;
    background-color: #208571;
    width: 100px;
    height: 100px;
}


span.play-btn-triangle {
    width: 24px;
    height: 24px;
    position: absolute;
    box-sizing: border-box;
    border-width: 12px 0 12px 24px;
    border-style: solid;
    background-color: transparent;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 55%;
    border-color: transparent transparent transparent #208571;
}

span.play-btn-circle {
    background-color: #FFF;
    width: 70%;
    height: 70%;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-play-wrapper {
    left: 6px;
    bottom: 0;
    border: none;
    border-radius: 0 10px 0 5px;
    background: none;
    background-color: #208571;
    width: 100px;
    height: 100px;
    position: absolute;
}
.video-embed-field-lazy-play {
	display:none;
}

.content-wrapper {
    position: absolute;
    bottom: 0;
    width: calc(100% - 100px);
    right: 0;
    padding: 23px 20px;
    /* background-color: rgba(0,0,0,0.5); */
    box-sizing: border-box;
    color: #FFF;
	z-index: 3;
}

body #main-wrapper {
    background: linear-gradient(90deg, #F0F0F0 35%, #FFFFFF 0, #FFFFFF 100%);
}

.background-strips-container {
    position: absolute;
    width: 95%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    top: 4%;
    z-index: 2;
    left: 6%;
}

.text-alignment {
    padding: 0 0 0 5em;
}

@media (min-width: 1200px) {
	.container, .container-lg, .container-md, .container-sm, .container-xl {
		max-width: 1250px;
	}
}
.video-embed-field-lazy {
    z-index: 3;
}
.side-image-wrapper {
	position:relative;
	margin: 35px 0 0 0;
}
.video-embed-field-lazy img {
    border-radius: 15px;
}
.field__item {
    padding-bottom: 4px;
}
.field.field--name-field-video-description.field--type-string.field--label-hidden.field__item {
    font-size: small;
}
.field.field--name-field-video-title.field--type-string.field--label-hidden.field__item {
    font-weight: bold;
}
.accordion-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    box-sizing: border-box;
    border-width: 0px 2px 2px 0;
    border-style: solid;
    background-color: transparent;
    transform: translate(-50%, -56%) rotate(45deg);
    top: 11%;
    right: 7%;
    border-color: #208571;
}
h3 {
	display: inline-block;
    border-bottom: 1px solid #208571;
}